
.contenido  
  margin-bottom: 80px
  justify-content: space-evenly
  contendor()

.caja
  max-width: 400px
  caja_sombra()
  &__contenido
    padding: 20px
    background: color-claro
    span       
      color: color-secundario
      titulos(fuente2)
    h3     
      titulos(fuente2)

