

.encabezado--con-filtros
  contendor()
  h2 
    titulos(fuente2)
    margin-top: 10px
    font-size: 50px
  .filtros
    width: 250px
    height 75px
    padding: 20px
    margin-left: auto
    caja_sombra()
    span 
      titulos(fuente2)
      
    a
      margin-left: 20px
      font-size: 20px
      color color-primario
